body{
    padding: 0px;
    margin: 0px;
    font-family: 'Itim', cursive;
    background-color: seagreen;
}
#navbar{
    position: fixed ;
    top: 0;
    width: 100%;
    font-weight: bold;
    background-color:darkcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
    font-size: 23px;
}

.title1{
    text-align: center;
    font-size: x-large;
    padding: 10px;
}

.title{
    color: white;
    font-size: 25px;
    text-align: center;
}


#nav-links ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}
#nav-links li{
    list-style: none;
}
#nav-links ul li a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    margin: 8px;
    display: block;
}
#navbar ul a:hover{
    background-color: white;
}
.current{
    background-color: white;
}


/* responsive-nav */
#toggle-bar{
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: darkcyan;
    width: 32px;
    height: 33px;
    display: none;
    margin-right: 18px;
}
.btn{
    background-color: white;
    display: flex;
    width: 32px;
    height: 5px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin: 4px;
}





#searchbar{
    width:50%;
    height: 100px;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top:50px;
    padding-bottom: 0px;
}
#inputvalue{
    margin:5px;
    border-radius: 5px;
    height: 30px;
    width: 275px;
    border:3px solid black;
}
#search{
    margin-bottom: 5px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border:3px solid black;
    font-family: 'Itim', cursive;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}



.details{
    padding: 4px;
    font-size: 20px;
}
#content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
}
.con{
    border: 2px solid white;
    border-radius: 5px;
    padding:15px;
    padding-top: 5px;
    width: 40%;
}
#main{
    display: none;
}


/* for unsolved questions */
#ques-cont{
    width: 89%;
    border: 2px solid white;
    border-radius: 5px;
    color: wheat;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
    padding:10px;
    padding-top: 5px;
    font-size: 20px;
    display: none;
}
#ques-cont a{
    text-decoration: none;
    color: white;
}
#ques{
    display: flex;
    flex-wrap: wrap;
}
#graph{
    width: 648px;
    align-items: center;   
    margin: auto;
    padding: 15px;
    display: none;
    font-size: 50px;
}

@media only screen and (max-width: 650px){
    #toggle-bar{
        display: block;
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
        
    }
    #nav-links{
        background-color: darkcyan;
        display: none;
        width: 100%;
    }
    #nav-links ul{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #nav-links ul li a{
        color: black;
        padding:2px;
    }
    #nav-links li{
        text-align: center;
    }
    #nav-links{
        width: 100%;
    }
    #nav-links.active{
        display: flex;
    }
    #content{
        flex-wrap: wrap;
    }
    .con{
        padding:20px;
        margin: 10px;
        width: 80%;
    }


    #ques-cont{
        margin-top: 12px;
        margin-bottom: 12px;
        width: 85%;
    }
    #graph{
        width: 100%;
        height: 100%;
        padding: 0px;
        font-size: 50px;
    }
}